<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link th:href="@{/css/bootstrap.min.css}"
      href="../css/bootstrap.min.css" rel="stylesheet">
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>



<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/applyInfo" th:object="${applyInfoForm}" method="post">
        <div class="form-group">
            <label th:for="companyName">기업명</label>
            <input type="text" th:field="*{companyName}" class="form-control" placeholder="기업명을 입력하세요" th:class="${#fields.hasErrors('companyName')}? 'form-controlfieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="role">직무</label>
            <input type="text" th:field="*{role}" class="form-control" placeholder="직무를 입력하세요" th:class="${#fields.hasErrors('role')}? 'form-controlfieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="qualification">자격요건</label>
            <input type="text" th:field="*{qualification}" class="form-control" placeholder="자격요건을 입력하세요" th:class="${#fields.hasErrors('qualification')}? 'form-controlfieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('qualification')}" th:errors="*{qualification}">Incorrect date</p>
        </div>
<!--        <div class="form-group">-->
<!--            <label th:for="admissionDate">입학일자</label>-->
<!--            <select th:field="*{admissionYear}" class="form-control">-->
<!--                <option>2020</option>-->
<!--                <option>2021</option>-->
<!--                <option>2022</option>-->
<!--                <option>2023</option>-->
<!--            </select>-->
<!--            <select th:field="*{admissionMonth}" class="form-control">-->
<!--                <option>1</option>-->
<!--                <option>2</option>-->
<!--                <option>3</option>-->
<!--                <option>4</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="graduateDate">졸업일자</label>-->
<!--            <select th:field="*{graduateYear}" class="form-control">-->
<!--                <option>2020</option>-->
<!--                <option>2021</option>-->
<!--                <option>2022</option>-->
<!--                <option>2023</option>-->
<!--            </select>-->
<!--            <select th:field="*{graduateMonth}" class="form-control">-->
<!--                <option>1</option>-->
<!--                <option>2</option>-->
<!--                <option>3</option>-->
<!--                <option>4</option>-->
<!--            </select>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
